%form.form-horizontal{:action => "/sessions", :method => "post"}
  %fieldset
    %legend Log in
    .control-group
      %label{for: 'mail'} Email
      .controls
        .input
          %input#email{type: 'text', name: 'user[email]'}
    .control-group
      %label{for: 'password'} Password
      .controls
        .input
          %input#password{type: 'password', name: 'user[password]'}
    .form-actions
      %input.btn-primary{type: 'submit'}
