%form{:action => "/sessions", :method => "post"}
  %fieldset
    %legend Log in
    .clearfix
      %label{for: 'mail'} Email
      .input
        %input.large#email{type: 'text', name: 'user[email]'}
    .clearfix
      %label{for: 'password'} Password
      .input
        %input.large#password{type: 'password', name: 'user[password]'}
    .actions
      %input.btn.primary{type: 'submit'}
