.page-header
  %h1
    = t(:"views.admin.equipment_reservation.index.heading")
    %small= t(:"views.admin.equipment_reservation.index.subheading")
%br
%h3= t(:"views.admin.equipment_reservation.index.list")

= render "table"
