.page-header
  %h1
    = t(:"views.equipment.pick_up.index.heading")
    %small
      = t(:"views.equipment.pick_up.index.subheading")
%br
%h3
  = t(:"views.equipment.pick_up.index.future_reservations")

= render "shared/equipment/reservations_table"
