.page-header
  %h1
    Equipment Pick Up
    %small Scan the devices you want, NOW!
%br
.alert-message.error.not-found{style: 'display:none;'}
  %p
    %strong Not Found!
    Couldn't find this Barcode :(.
.alert-message.error.full{style: 'display:none;'}
  %p
    %strong Enough!
    You have enough devices, stop adding.
.alert-message.warn{style: 'display:none;'}
  %p
    %strong Double scan!
    This Barcode was scanned at least twice.
%form
  .inline-inputs
    Name
    %input{type: 'text', value: equipment_reservation.name, disabled: true}
    from
    %input.medium{:type => "text", value: equipment_reservation.from, disabled: true}
    to
    %input.medium{:type => "text", value: equipment_reservation.to, disabled: true}
%br
%form.scan
  .inline-inputs
    %input.xxlarge{type: 'text'}
    %input.btn{type: 'submit', value: 'Scan'}
  %span.help-block
    ["8P20002469", "8P20002468", "8P20002467"]
%h4 Devices
%table#added_models
  %thead
    %tr
      %th{width: '15%'} Kind
      %th{width: '25%'} Company
      %th{width: '35%'} Model
      %th{width: '25%'} Count
  %tbody
    - equipment_reservation.reservations.each do |r|
      - model = models.find{ |model| model.kind == r['kind'] && model.company == r['company'] && model.model == r['model'] }
      %tr{data: {barcodes: model.devices.map(&:barcode), picked: [], total: r['count']}}
        %td= model.kind
        %td= model.company
        %td= model.model
        %td
          %span.count
            0
          \/
          = r['count']
%form.pick_up{:action => "/equipment/pick_ups", :method => "post"}
  %input{type: 'hidden', name: :id, value: equipment_reservation._id.to_s}
  %input#device_barcodes{type: 'hidden', name: 'pickups'}
  %input.btn.primary{type: 'submit'}
  %a.btn.reset{href: equipment_pick_ups_path} Cancel
