%form.form-inline
  %input.span3{type: 'text', value: equipment_reservation.name, disabled: true}
  %input.span3{:type => "text", value: equipment_reservation.from, disabled: true}
  %input.span3{:type => "text", value: equipment_reservation.to, disabled: true}
