.page-header
  %h1
    = t(:"views.equipment.reservation.index.heading")
    %small
      = t(:"views.equipment.reservation.index.subheading")
%br
%form.form-inline{action: new_equipment_reservation_path, method: :get}
  %input{type: 'text', name: 'equipment_reservation[name]', placeholder: 'Name'}
  - from = (Time.now + 1.day).strftime("%d.%m.%Y %H:%M")
  - to = (Time.now + 3.days).strftime("%d.%m.%Y %H:%M")
  %input{type: 'text', name: 'equipment_reservation[from]', value: from, placeholder: from}
  %input{type: 'text', name: 'equipment_reservation[to]', value: to, placeholder: to}
  %input.btn-primary{type: 'submit', value: 'Proceed'}

%h3
  = t(:"views.equipment.reservation.index.future_reservations")

= render "shared/equipment/reservations_table"
