.page-header
  %h1
    Equipment Reservation
    %small You can create new and view existing equipment reservations here.
%br
%form{action: new_equipment_reservation_path, method: :get}
  .inline-inputs
    Name
    %input{type: 'text', name: 'reservation[name]'}
    from
    %input.medium{:type => "text", name: 'reservation[from]', value: '1.1.2011 11:11'}
    to
    %input.medium{:type => "text", name: 'reservation[to]', value: '3.1.2011 11:11'}
    %input.btn.primary{type: 'submit', value: 'Proceed'}

%h4
  Future Reservations

%table
  %thead
    %tr
      %th{width: '60%'} Name
      %th{width: '20%'} From
      %th{width: '20%'} To
  %tbody
    - current_user.equipment_reservations.sort_by{ |r| r.from }.each do |r|
      %tr
        %td= link_to r.name, r
        %td= l r.from.in_time_zone("Berlin"), :format => :short
        %td= l r.to.in_time_zone("Berlin"), :format => :short
