.page-header
  %h1
    Equipment Reservation
    %small You can create new and view existing equipment reservations here.
%br
%form.form-inline{action: new_equipment_reservation_path, method: :get}
  %input{type: 'text', name: 'equipment_reservation[name]', placeholder: 'Name'}
  %input{type: 'text', name: 'equipment_reservation[from]', value: '1.1.2011 11:11', placeholder: '1.1.2011 11:11'}
  %input{type: 'text', name: 'equipment_reservation[to]', value: '3.1.2011 11:11', placeholder: '3.1.2011 11:11'}
  %input.btn-primary{type: 'submit', value: 'Proceed'}

%h3
  Future Reservations

= render "shared/equipment/reservations_table"
