.page-header
  %h1
    New Equipment Reservation
    %small Please add the equipment you need.

%br
%form
  .inline-inputs
    Name
    %input#name{type: 'text', name: 'reservation[name]', value: params[:reservation][:name], disabled: true}
    from
    %input.medium{:type => "text", name: 'reservation[from]', value: params[:reservation][:from], disabled: true}
    to
    %input.medium{:type => "text", name: 'reservation[to]', value: params[:reservation][:to], disabled: true}


%table#devices
  %thead
    %tr
      %th Count
      %th Model
      %th Company
      %th Kind
  %tbody
