.page-header
  %h1
    New Equipment Reservation
    %small Please add the equipment you need.

%table.zebra-striped
  %thead
    %tr
      %th Count
      %th Model
      %th Company
      %th Kind
  %tbody
    %tr
      %td.input
        %select.mini
          %option 1
          %option 2
      %td 1
      %td Some
      %td One
    %tr
      %td.input
        %select.mini
          %option 1
          %option 2
      %td 1
      %td Some
      %td One
