#masthead
  .inner
    .container
      %h1 Longjohn
      %p.lead
        %a{href: 'http://de.wikipedia.org/wiki/Long_John_Silver'} Longjohn
        is an Equipment and Studio management software from Hans for the
        %a{href: 'http://www.udk-berlin.de/'} Udk
        \.
      %p
        %strong Nerd alert:
        Longjohn is built with
        %a{href: 'http://rubyonrails.org/'} Rails 3.1
        and
        %a{href: 'http://twitter.github.com/bootstrap'} Bootstrap from Twitter.
#updates
  %ol
    %li Vorbestellungen brauchen einen Namen.

