%form.form-horizontal{:action => "/users", :method => "post"}
  %fieldset
    %legend= t(:"views.user.new.sign_up")
    .control-group
      %label{for: 'email'}= t(:"views.user.new.email")
      .controls
        .input
          %input#email{type: 'text', name: 'user[email]'}
    .control-group
      %label{for: 'password'}= t(:"views.user.new.password")
      .controls
        .input
          %input#password{type: 'password', name: 'user[password]'}
    .form-actions
      %input.btn-primary{type: 'submit', value: t(:"views.user.new.submit")}
