%table.table.table-bordered
  %thead
    %tr
      %th Email
      %th Created At
      %th Action
  %tbody
    - users.each do |user|
      %tr
        %td= user.email
        %td= l user.created_at.in_time_zone("Berlin"), :format => :short
        %td= link_to "Edit", edit_admin_user_path(user)
